td {
    background-color: blanchedalmond;
    width: 65px;
    height: 65px;
    text-align: center;
}

.dark-square {
    background-color: rgb(66, 30, 30);
}
.red {
    width: 20px;
    height: 20px;
    background-color: red;
    padding: 12px;
}
.black {
    width: 20px;
    height: 20px;
    background-color: black;
    padding: 12px;
}
.king.red {
    background-color: rgb(243, 131, 79);
}
.king.black {
    background-color: rgb(100, 100, 100);
}