td {
    background-color: blanchedalmond;
    width: 65px;
    height: 65px;
    text-align: center;
}

.dark-square {
    background-color: rgb(66, 30, 30);
}
.red {
    width: 40px;
    height: 40px;
    background-color: red;
    border: 1px solid white;
    border-radius: 50px;
}
.black {
    width: 40px;
    height: 40px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
}
.king.red {
    background-color: rgb(243, 131, 79);
}
.king.black {
    background-color: rgb(100, 100, 100);
}